header {
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 1;

	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		gap: 50px;
		padding-right: 100px;

		@media all and (max-width: $container-mobile-max) {
			padding-right: 50px;
			gap: 25px;
		}

		backdrop-filter: blur(3px);

		li {
			a {
				color: $color-text-black;
				font: {
					size: $rem-18;
					weight: $weight-bold;
				};
			}
		}
	}
}
