.toasts {
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;

    &.toasts-bottom {
        bottom: 15px;
        top: initial;
    }

    .toast {
        border-radius: 2px;

        display: flex;
        width: 100%;
        justify-content: flex-end;
        font-weight: $weight-bold;

        .content {
            border-radius: 2px;
            background-color: $color-smoke;
            div {
                margin: 0!important;
                width: fit-content;
            }
        }
    }
}
