@mixin error($color) {
    color: $color;
    transition: .2s;
}

.danger-color { @include error($color-danger) }
.success-color { @include error($color-success) }
.warning-color, .waiting-color { @include error($color-warning) }
.info-color { @include error($color-info) }

@mixin alert {
    padding: 15px;
    background-color: $color-danger;
    border-bottom: 5px solid transparent;
    margin: 20px 0;
    font-size: 15px;
    border-radius: 3px 3px 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    li {
        margin-left: 17px;
        list-style-type: disc;
    }

    i {
        font-size: $rem-24;
    }
}

.danger {
    @include alert;
    @extend .danger-color;
    background: rgba($color-danger, 0.20);
    border-color: rgba($color-danger, 0.35);
}

.success {
    @include alert;
    @extend .success-color;
    background: rgba($color-success, 0.20);
    border-color: rgba($color-success, 0.35);
}

.warning, .waiting {
    @include alert;
    @extend .warning-color;
    background: rgba($color-warning, 0.20);
    border-bottom-color: rgba($color-warning, 0.35);
}

.info {
    @include alert;
    @extend .info-color;
    background: rgba($color-info, 0.20);
    border-color: rgba($color-info, 0.35);
}
