.container {
    display: block;
    width: $container-large-min;
    margin: 0 auto;
}

@media screen and (max-width: $container-normal-max) {
    .container {
        width: $container-normal-min;
    }
}

@media screen and (max-width: $container-small-max) {
    .container {
        width: $container-small-min;
    }
}

@media screen and (max-width: $container-mobile-max) {
    .container {
        width: 85%;
    }
}

.m-top {
    margin-top: $margin-top;
    min-height: calc(100vh - 450px);
}

.clear {
    clear: both;
}

.mask {
    visibility: hidden;
}

.display {
    display: none;
}

hr {
    border: 1px solid rgba($color-smoke, 0.15);
    border-bottom: 0;
    margin: 0 auto;
    width: 70%;

    &.hr-space {
        margin: 25px auto;
    }
}
